body {
    background-color: bisque;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
}

.menu li {
    float: left;
}

.menu .menu-item {
    display: block;
    border: 1px solid #91642c;
    background-color: #daaf7a;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px 5px;
}

.header {}

.header .header-text {
    text-align: center;
}

.header .header-title {
    text-align: center;
    font-size: 28px;
}

.header .header-text img {
    width: 450px;
}

.footer {}

.footer .footer-text {
    text-align: right;
}

.page-main {}



