body {
    background-color: bisque;
}

.page .page-header .title {
    text-align: center;
}

.page .page-header .text {
    text-align: center;
}

.page .page-header .text img {
    width: 450px;
}

.page .blog .text {
    text-align: justify;
}

.page .page-footer .text {
    text-align: right;
}

.page .blog {
    display: flex;
}

.page .blog .post {
    flex: 1;
    margin: 5px;
    text-align: justify;
}

.page .post .comment {
    display: flex;
}

.page .comment .post1 {
    flex: 1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: burlywood;
}

.button {
    background-color: #daaf7a;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px 5px;
    position: absolute;
    left: 50%;
}

.news {
    background-color: #daaf7a;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px 5px;
}
